.news-item {
  vertical-align: middle;
  border-top: solid 1px #e0e0e0;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.news-item .title {
  text-decoration: none;
  color: #202020;
  flex-grow: 4;
  flex-basis: 400px;
}

.news-item .title:hover{
  color: #db4c3f;
} 

.news-item .user {
  font-size: 0.9em;
  flex-grow: 1;
  align-items: flex-end;
  text-align: right;
}

.news-item .post-time {
  font-size: 0.9em;
  flex-grow: 1;
  align-items: flex-end;
  text-align: right;
}

.news-item--empty .title {
  background-color: #e2e2e2;
}

.news-item--empty .post-time, .news-item--empty .user {
  background-color: #e2e2e2;
  margin-left: 20px;
  min-width: 100px;
}